body {
    margin: 0;
    padding: 0;
    background-color: #162A35;
}

.imgContainer {
    position: relative; /* Position relative pour contenir l'image et le layer */
}

.imgCard {
    max-width: 100%; /* Reduire la taille de l'image */
    height: auto;
    display: block;
    margin: 0 auto; /* Centrer l'image horizontalement */
}

#invitationLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #162a35; /* Fond noir semi-transparent */
}

.layerImg {
    width: 70%; /* Réduire la taille de l'image du layer */
    height: auto;
    display: block;
    z-index: 1; /* Assurez-vous que l'image du layer est au-dessus du fond noir */
}

#showInvitationBtn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 22px;
    z-index: 2;
    background-color: #ffffff; /* Couleur de fond */
    color: #000000; /* Couleur du texte */
    border: 2px solid transparent; /* Bordure transparente */
    border-radius: 20px; /* Bordures arrondies */
    transition: box-shadow 0.3s, border-color 0.3s; /* Transition */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#showInvitationBtn:focus,
#showInvitationBtn:hover {
    outline: none; /* Supprimer le contour par défaut */
    border-color: #ffffff; /* Bordure pour le focus et le hover */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7); /* Effet glowy sur focus et hover */
}

button#showInvitationBtn img {
    width: 20px; /* Taille de l'image */
    margin-left: 5px; /* Espacement entre le texte et l'image */
}



/* Ajoutez ces styles pour aligner les div en colonne */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saveTheDate, .location, .RSVP {
    margin-top: 20px;
    text-align: center; /* Centre le contenu des div */
}

/* Styles pour les éléments du formulaire RSVP */
.RSVP label {
    display: block;
    margin-bottom: 10px;
}


